body{
    height: 100vh;
    width: 100%;
    background-color:blanchedalmond;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 80vh;
    width: 30vw;
    border-radius: 20px;
    background-color: rgb(241, 102, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container img{
    border-radius: 20px;
}

button{
    display: inline;
    height: 50px;
    width: 120px;
    border-radius: 15px;
    background-color: aqua;
    color: white;
}